.CartaF2{
    background: var(--Dark-blue);
    border-radius: 20px;
    position: relative;
    padding: 29px 0;
    top: -63px;
}
.CartaF2_1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 20px;
    color: white;
    font-weight: 500;
}
.CartaF2_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 20px;
    margin-top: 8px;
}
.CartaF2_2 span:first-child{
    color: white;
    font-size: 26px;
}
.CartaF2_2 span:nth-child(2){
    color: var(--Pale-Blue);
}
