.CartaD1{
    background: var(--Light-red-study);
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
    height: 150px;
    overflow: hidden;
    margin-bottom: 20px;
}
.libro{
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 18px;
    top: -9px;
}