.CartaC1{
    background: var(--Soft-blue-play);
    border-radius: 20px;
    width: 90%;
    margin: 0 auto;
    height: 150px;
    overflow: hidden;
    margin-bottom: 20px;
}
.mando{
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 18px;
    top: -5px;
}