.CartaE1{
    background: var(--Lime-green-exercise-);
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
    height: 150px;
    overflow: hidden;
    margin-bottom: 20px;
}
.img_Ejercicio{
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 18px;
}