.CartaG2{
    background: var(--Dark-blue);
    border-radius: 20px;
    position: relative;
    top: -27px;
    padding: 30px 20px;
}
.CartaG2_1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    color: white;
}
.CartaG2_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.CartaG2_2 span:first-child{
    color: white;
    font-size: 26px;
}
.CartaG2_2 span:nth-child(2){
    color: var(--Pale-Blue);
}